---
import TableRow from "./TableRow.astro";

const { headers = [], rows = [] } = Astro.props;
---
<table>
  <thead>
    <tr>
      {headers.map(header => (
        <th>{header}</th>
      ))}
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {rows.map((row, index) => (
      <TableRow row={row} id={index}>
        <slot name="actions" slot="actions" />
      </TableRow>
    ))}
  </tbody>
</table>
