---
import TableRow from "./TableRow.astro";

const { headers = [], rows = [] } = Astro.props;
---
<table>
  <thead>
    <tr>
      {headers.map(header => (
        <th>{header}</th>
      ))}
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {rows.map((row, index) => {

      const actionsHTML = Astro.slots.render("actions", [row, index]);

      return (
        <TableRow row={row} id={index}>
          {(row, id) => (<Fragment name="actions" slot="actions"  set:html={actionsHTML} />)}
        </TableRow>
      )
    })
  }
  </tbody>
</table>
